/* relevant to all games */
body,html{height:100%;}
body{display: flex;}

/* sidebar */
#sidebar{
  width: 15%;
  height: 100%;
  z-index: 12;
  background-color: #cc3300;
  color: #fff;
  padding: .45em;
}
#sidebar a{color: #fff;}

#logo{ }
#info{
  padding-top: 1em;
}
#info p{
  font-size: 12px;
  font-family: Verdana;
  text-align: left;
  color: red;
}
/*main content frame */
#mainFrame{position: relative;width: 85%;}

/* arrows */
.gameNav{
  z-index: 999; /* all arrows on top of everything */
}

#aTop{position: absolute; top: 0.5em; left: calc(50% - 0.5em);}
#aBottom{position: absolute; bottom: 0.5em; left: calc(50% - 0.5em);}
#aLeft{position: absolute; left: 0.5em; top: calc(50% - 0.5em);}
#aRight{position: absolute; right: 0.5em; top: calc(50% - 0.5em);}

/* content */
#content{
  z-index: 9;
  background-color: #fff;
  overflow: hidden;
  padding-top: 3em;
  height:  calc(100% - 3em);
  padding-left: 3em;
  width: calc(100% - 3em);
}
