body {
   margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 8px;
padding-right: 8px;
padding-top: 0px;
   font-size: 90%;
	background-color: blue;
	font-family: 'Droid Sans', sans-serif;
 }
title {
	padding: 10px;
	font-size: 35pt;
}
	h1{
	padding: 20px;
	font-size: 25pt;
	font-family: 'Droid Sans', sans-serif;
	}

p{
	font-size: 10px
	font-variant: normal;
	font-family: 'Droid Sans', sans-serif;
	padding: 10px;

}
	h2{
	padding-left: 20px;
	font-size: 26pt;
	}

 .mask{
   position: relative;
   overflow: scroll;
   margin: 0px auto;
   width: 100%;
   background-color: g
}
.header{
   float: left;
   width: 100%;
   background-color: #f4f4f4
}

.maintop {
position: relative;
   overflow: scroll;
   float: left;
   width: 49.1%;
   left: 100.45%;
   background-color: yellow;

}

.colleft{
   position: relative;
   width: 100%;
   right: 50%;
   background-color: red;
}
.col1{
	 position: relative;
   overflow: scroll;
   float: left;
   width: 49.1%;
   left: 100.45%;
   background-color: #e6e6e6
   padding-right 10px
}
.col2{
  position: relative;
   overflow: scroll;
   float: left;
   width: 49.1%;
   left: 1.3500000000000014%;
   background-color: #e6e6e6

  
/*.footer{
   float: left;
   width: 100%;
   background-color: #b4caf7
}*/
