
@font-face {
    font-family: 'prater_sans_oneregular';
    src: url("fonts/PraterSansOne-Reg.otf") format("opentype");
    }
@font-face {
    font-family:'prater_sans_onebold';
    src: url("fonts/PraterSansOne-Bd.otf") format("opentype");
}
@font-face {
    font-family:'test';
    src: url("fonts/Almendra-Bold.otf") format("opentype");
}

#container{
    font-family: 'prater_sans_onebold', helvetica, serif;
    font-size: 50px;
    text-align: center;
}

p {
	text-align: center;
}

span {
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    background: #dddddd;
    width: 100px;
    border-radius: 25px;
}