
/*@font-face {
    font-family: 'prater_sans_oneregular';
    src: url("font/PraterSansOne-Reg.otf") format("opentype");
    }
@font-face {
    font-family:'prater_sans_onebold';
    src: url("font/PraterSansOne-Bd.otf") format("opentype");
}*/

#container{
    font-family: 'prater_sans_oneregular', Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    height: 2em;
}

/*p {
	text-align: center;
}*/

a {
  color: #fff;
  text-decoration: none;
}

.pageLinks{
  line-height: 2em;
  text-align: center;
  display: block;
  /*width: 50%;
  margin: 2em auto;*/
  /*background: url('../assets/icons/btn.svg') no-repeat center center;*/
  font-family: 'prater_sans_onebold',  Arial, Helvetica, sans-serif;
}
/* same color for all on hover */
/*.pageLinks:hover{
  background: url('../assets/icons/btn-red.svg') no-repeat center center;
}*/
.pageLinks:nth-of-type(n){
  width: 340px; /* 2x bg size */
  margin: 2em auto;
  background: url('../assets/icons/btn-red.svg') no-repeat center center;
  /*background-size: 170px 250px;*/
  background-size: cover;
}
.pageLinks:nth-of-type(2n){
  width: 300px;
  margin: 2em auto;
  background: url('../assets/icons/btn-red.svg') no-repeat center center;
  /*background-size: 150px 250px;*/
  background-size: cover;
}
.pageLinks:nth-of-type(3n){
  width: 440px;
  background: url('../assets/icons/btn-red.svg') no-repeat center center;
  /*background-size: 220px 250px;*/
    background-size: cover;
}
.pageLinks:nth-of-type(4n){
  width: 380px;
  background: url('../assets/icons/btn-red.svg') no-repeat center center;
  /*background-size: 190px 250px;*/
    background-size: cover;
}
/* or if you want to have different colors */
.pageLinks:nth-of-type(n):hover{
  background: url('../assets/icons/btn-blue.svg') no-repeat center center;
  /*background-size: 340px 250px;*/
    background-size: cover;
}
.pageLinks:nth-of-type(2n):hover{
  background: url('../assets/icons/btn-blue.svg') no-repeat center center;
  /*background-size: 340px 250px;*/
    background-size: cover;
}
.pageLinks:nth-of-type(3n):hover{
  background: url('../assets/icons/btn-blue.svg') no-repeat center center;
  /*background-size: 340px 250px;*/
    background-size: cover;
}
.pageLinks:nth-of-type(4n):hover{
  background: url('../assets/icons/btn-blue.svg') no-repeat center center;
  /*background-size: 340px 250px;*/
    background-size: cover;
}

/*#pdfBtn {
  display: flex;
  margin-top: 50px;
}

#kBtn {
  display: inline-block;
  font-family: 'prater_sans_oneregular', Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: center;
  color: #fff;
  width: 33.3%;
  line-height: 2em;
  background: url('../assets/icons/btn.svg') no-repeat center center;
  background-size: cover;

}

#mBtn {
  display: inline-block;
  font-family: 'prater_sans_oneregular', Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: center;
  color: #fff;

 width: 33.3%;
  line-height: 2em;
  background: url('../assets/icons/btn.svg') no-repeat center center;
  background-size: cover;
}

#dBtn {
  display: inline-block;
  font-family: 'prater_sans_oneregular', Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: center;
  color: #fff;
  width: 33.3%;
  line-height: 2em;
  background: url('../assets/icons/btn.svg') no-repeat center center;
  background-size: cover;
}*/
