@font-face {
    font-family: 'prater_sans_oneregular';
    src: url("fonts/PraterSansOne-Reg.otf") format("opentype");
    }
@font-face {
    font-family:'prater_sans_onebold';
    src: url("fonts/PraterSansOne-Bd.otf") format("opentype");
}

/* main structure CSS needs to be different IN THIS PAGE ONLY */
#sidebar{
  position: fixed;
}

#mainFrame{
  position: static;
  margin-left: calc(15% + .9em);
}

#content{
  width: calc(100% - 6em);
  height: auto;
  overflow: visible;
  background-color: white;
  padding: 0 3em;
}
#content p{
   text-align: left !important;
}

#bar {
	background-color: rgba(255, 255, 255, 1);
	height: 100px;
	width: 100%;
	position: fixed;
	bottom: 0;
	font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}

.gameNav {position: fixed !important;}
#aLeft{left: calc(15% + .9em);}
#aTop, #aBottom{left: calc(57.5% - 0.5em);}
/* end structure elements */

#pause {
	position: absolute;
	color: white;
	width: 60px;
	height: 20px;
	text-align: center;
	background-color: #0099cc;
	left: 10px;
  top: 2em;
}

#restart {
	position: absolute;
	color: white;
	text-align: center;
	width: 80px;
	height: 20px;
	background-color: #0099cc;
	left: 100px;
  top: 2em;
}

h1, h2, h3, h4{margin: 2em 0 1em 0;}


h1{
font-size: 25px;
font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}

h2{
font-size: 18px;
/*font-variant: bold;*/
font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}

h3{
font-size: 14px;
font-variant: bold;
font-family: "Open Sans",sans-serif;
}

/*q{
  font-style: italic;
}*/

h4{
font-size: 35px;
/*font-variant: bold;
  font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;*/
}
