@font-face {
    font-family: 'prater_sans_oneregular';
    src: url("fonts/PraterSansOne-Reg.otf") format("opentype");
    }
@font-face {
    font-family:'prater_sans_onebold';
    src: url("fonts/PraterSansOne-Bd.otf") format("opentype");
}
@font-face {
    font-family:'test';
    src: url("fonts/Almendra-Bold.otf") format("opentype");
}


/*#content{
  position: fixed;
  overflow: auto;
  width: 70%;
}

#box {
  background-color: blue;
  overflow: scroll;
	text-align: left;
	margin-bottom: 100px; */ /* bar height */
  /*padding-right: 3em;
}*/

#content{
  position: static;
  overflow: auto;
  width: 70%;
}

#box {
  position: absolute;
  overflow: scroll;
  text-align: left;
  margin-bottom: 100px; /* bar height */
  padding-right: 3em;
}

#box p{
  text-align: left;
}

#bar {
	background-color: white;
	height: 100px;
	width: 100%;
	position: fixed;
	margin-left:  -3em;
	bottom: 0;
	font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}

#pause {
	position: absolute;
	color: white;
	width: 60px;
	height: 20px;
	text-align: center;
	background-color: #0099cc;
	left: 10px;
  top: 2em;
}

#restart {
	position: absolute;
	color: white;
	text-align: center;
	width: 80px;
	height: 20px;
	background-color: #0099cc;
	left: 100px;
  top: 2em;
}

h1, h2, h3, h4{margin: 0.5em 0;}
h1{
font-size: 25px;
font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}

h2{
font-size: 18px;
font-variant: bold;
font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}

h3{
font-size: 14px;
font-variant: bold;
font-family: "Open Sans",sans-serif;
}

q{
  font-style: italic;
}

h4{
font-size: 35px;
/*font-variant: bold;
  font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}*/
