@font-face {
    font-family: 'prater_sans_oneregular';
    src: url("fonts/PraterSansOne-Reg.otf") format("opentype");
    }
@font-face {
    font-family:'prater_sans_onebold';
    src: url("fonts/PraterSansOne-Bd.otf") format("opentype");
}


#content{
	/*padding-right: 3em;*/
	/*width: 75%;*/
  overflow: auto;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6, #content p{
  padding-left: 12%;
  padding-right: 30%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  /* try working with paddings, margins, instead of adding <br> in the html :) */
}

/* NO padding in the first H1 */
#content h1:first-of-type{
  padding-top: 0;
}

h1{
font-size: 50px;
font-family: bold;
font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}


h2{
font-size: 25px;
/*font-variant: bold;*/
font-weight: bold;
font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
font-color: #cc3300;
}

h3{
font-size: 1px;
/*font-variant: bold;*/
font-weight: bold;
font-family: "Open Sans",sans-serif;
font-color: #cc3300;
}

h4{
font-size: 25px;
/*font-variant: bold;*/
font-weight: bold;
font-family: "Open Sans",sans-serif;
}



p{
font-size: 13px;
line-height: 1.2em;
/*font-variant: bold;*/
font-weight: normal;
font-family: "Open Sans",sans-serif;
}

#teamMembers {
	font-size: 13px;
	font-variant: normal;
	font-family: "Open Sans",sans-serif;
}

/*@font-face {*/
    /*font-family:'test';*/
    /*src: url("font/Almendra-Bold.otf") format("opentype"); just to have Almendra font on this document and use it if need*/
