h1 {
	font-size: 40px;
	font-variant: bold;
	font-family: 'Almendra-Bold', helvetica, serif;
    /*font-family: bold;*/
	/*font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;*/
	text-align: center;
}

p {
	font-size: 20px;
	font-variant: normal;
	font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;

}

#teamMembers {
	font-size: 15px;
	font-variant: normal;
	font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}

/*@font-face {*/
    /*font-family:'test';*/
    /*src: url("font/Almendra-Bold.otf") format("opentype"); just to have Almendra font on this document and use it if need*/