/*VIDEO KIDS*/

/*@font-face {
    font-family: 'prater_sans_oneregular';
    src: url("../../assets/fonts/PraterSansOne-Reg.otf") format("opentype");
    }
@font-face {
    font-family:'prater_sans_onebold';
    src: url("../../assets/fonts/PraterSansOne-Bd.otf") format("opentype");
}*/

.header {
	margin-left:  30px;
	margin-bottom: 30px;
	width: 100%;
}

h1{
font-size: 25px;
font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}

h2{
font-size: 18px;
font-weight: bold;
font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}

h3{
font-size: 14px;
font-weight: bold;
font-family: "Open Sans",sans-serif;
}



h4{
font-size: 35px;
font-weight: bold;
font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}
