@font-face {
    font-family: 'prater_sans_oneregular';
    src: url("../assets/fonts/PraterSansOne-Reg.otf") format("opentype");
    }
@font-face {
    font-family:'prater_sans_onebold';
    src: url("../assets/fonts/PraterSansOne-Bd.otf") format("opentype");
}

h1{
  font-family: 'prater_sans_oneregular', Arial, Helvetica, sans-serif;
  font-size: 35px;
  padding-left: 10px;
}
.myButton{
  display: inline-block;
  cursor: pointer;
  background-color: #cc3300;
  color: #fff;
  font-family: 'prater_sans_onebold', Helvetica, Arial, sans-serif;
  padding: .5em;
}

.myButton.clicked{
  background-color: #1899CD;
}

#numbers{
  float: right;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#btnWrapper{
  width: 80%;
  height: 50%;
  min-height: 400px;
  margin: 3em auto 0 auto;
  display: flex;
  justify-content: space-between;
}

#btn0, #btn5{
  align-self: flex-end;
}
#btn1, #btn4{
  align-self: flex-start;
  margin-top: 30%;
}
#btn2, #btn3{
  align-self: flex-start;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /*margin: 15% auto;*/ /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 60%;

    /* position popup in the center of right area, not in the center of the entire page */
    position: absolute;
    left: calc(50% + 7.5% - 20%);
    top: calc(50% - 30%);

}

.media{
  width: auto;
  height: auto;
  max-height: 90%;
  max-width: 90%;
  margin: 18px auto 12px auto;
  /*border: 1px solid red;*/
}

.media ul li{display: none; text-align: center;}
.curMedia{
  display: block !important;
  width: 100%;
  height: 100%;
  max-height: 400px;
}
.curMedia img, .curMedia video{
  display: inline-block;
  max-width:100%;
  max-height:100%;
  height: auto;
  width:auto;
}
.mediaNav{
  /*text-align: center;*/
}

.curTitle{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    float: left;
}

.prev, .next{
  cursor: pointer;
  /*background: url('../assets/icons/btn.png') no-repeat center center;*/
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'prater_sans_onebold', Helvetica, Arial, sans-serif;
  padding: 0.3em;
  float: initial;
}

.prev:hover{
  background-color: #CC3417; /* red */
}
.next:hover{
  background-color: #329A37; /* green */
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 24px;
    position: absolute;
    font-family: 'prater_sans_onebold', Helvetica, Arial, sans-serif;
    padding: 0.3em;
    top: 12px;
    right: 12px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
