/*WHAT IF */

@font-face {
    font-family: 'prater_sans_oneregular';
    src: url("font/PraterSansOne-Reg.otf") format("opentype");
    }
@font-face {
    font-family:' prater_sans_onebold';
    src: url("font/PraterSansOne-Bd.otf") format("opentype");
}


body {
	background: white;
/*	font-family: 'Droid Sans', sans-serif;
*/	position: relative;

	}

h1{
font-size: 20px;
font-family: bold;
font-family: "Open Sans",sans-serif;
/*font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;*/
}


h2{
font-size: 18px;
font-variant: bold;
font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}

h3{
font-size: 1px;
font-variant: bold;
/*font-family: "Open Sans",sans-serif;*/
}

h4{
font-size: 35px;
font-variant: bold;
padding-left: 10px;
font-family: "prater_sans_oneregular", Arial, Helvetica, sans-serif;
}


p{
font-size: 13px;
font-variant: bold;
font-family: "Open Sans",sans-serif;
}

	div:not('#mainFrame') {
	padding-left: 20px;
	/*position: relative;*/


	}

	button {
	text-align: left;
	border-style: solid;
	border-color: #0099cc;
	padding: 10px;
	/*font-size: 20px;*/
	position: relative;
	width: 100px;
	height: 100px;
  cursor: pointer;
	}

	.main1 {
	/*float: left;*/
	width: 50%;
	height:   50%;
	}


	.button {
	/*width: 600px;*/
	height: 300px:;
  	margin-bottom: 20px;
	position: absolute;
	float:right;
    left: 580px;
    top: 95px;
    background-color: Transparent;
    color: white;
    border: Transparent;
    display: block;
    /*top: 1px;*/
	}

	.info{
	width: 300px;
	height: 390px;
	/*position: absolute;
	top: 200px;
	left: 500px;*/
	padding-left: 10px;
	/*	width: 100px;*/
	clear:both;
	/*height: 100px;*/
	/*position: left;*/
	border: solid;
	border-color: #0099cc;

	}

	.maintop {
	/*float: left;*/
	width: 100%;
	/*background-color: yellow;*/
	/*height:  30%;*/
	/*padding-top: 1px;*/
	/*background: white;*/
	}
#content-wrapper{
  display: flex;
  padding-top: 20px;
}

#randImage{
  /*position: absolute;
  left: 0;
  margin-left: 30px;*/
	width: 400px;
	height: 500px;
	background-color: white;
	border-style: solid;
	border-color: #0099cc;
}

#randImage img{
  width: 100%;
}

#rightContent{
  margin-left: 60px;
}

	/*Controles the size of the image*/
	/*.randomimage{
	margin-left: 30px;
	width: 400px;
	height: 500px;
	background-color: white;
	border-style: solid;
	border-color: #0099cc;
	}*/
